<div class="card card-custom" style="width: 20rem;">
  <div class="card-header card-header-custom">{{this.title}}</div>
  {{#if this.image}}
  <img src="{{this.image}}" class="card-img-top card-img-custom" alt="{{this.title}}">
  {{else}}
  <img src="/images/background.jpg" class="card-img-top card-img-custom" alt="">
  {{/if}}
  <div class="card-body card-body-custom"> 
  <p class="card-text card-text-custom">{{this.description}}</p>
  <p class="card-text card-text-custom">by {{creator.name}} on {{{ date creationDate "DD/MM/YYYY" }}}</p>
  </div>
  <div class="card-link-overview">
    <a href="/offer/send-email" class="card-link card-link-custom">Contact provider</a>
    <a href="/offer/{{this._id}}" class="card-link card-link-custom">See more details...</a>
  </div>
</div>
