<div class="card card-custom" style="width: 20rem;">
  <div class="card-header card-header-custom">{{offer.title}}</div>
  {{#if offer.image}}
  <img src="{{offer.image}}" class="card-img-top card-img-custom" alt="{{offer.title}}">
  {{else}}
  <img src="/images/background.jpg" class="card-img-top card-img-custom" alt="">
  {{/if}}
  <div class="card-body card-body-custom"> 
  <p class="card-text card-text-custom"><strong>Category of the offer:</strong> {{offer.typeof}}</p>
  <p class="card-text card-text-custom"><strong>More details:</strong> {{offer.description}}</p>
  <p class="card-text card-text-custom"><strong>Condition:</strong> {{offer.condition}}</p>
  {{#if offer.url}}
  <p class="card-text card-text-custom"><strong>Url:</strong> {{offer.url}}</p>
  {{/if}}
  <p>Created on {{{ date creationDate "DD/MM/YYYY" }}} at {{{ date creationDate "HH:mm" }}}</p>
   </div>


<section class="offer-section">
    <h4>Comments so far</h4>
    <ul>
    {{#each comments}}
      <li>
        <p>{{message}}</p>
        <span>Published by {{creator.name}} on {{{ date creationDate "DD/MM/YYYY" }}} at {{{ date creationDate "HH:mm" }}}</span>
      </li>
    {{/each}}
  </ul>
</section>

<footer>
    <h4>Leave a comment</h4>
    <form action="/offer/{{offer._id}}/comment" method="POST">
    <label for="input-message">Message</label>
    <textarea name="message" id="input-message" placeholder="Write a comment..."></textarea>

    <button>Submit Comment</button>
  </form>

  
</footer>
