<h1>Welcome to our musicians app (the greates ever)</h1>

{{#each offers}}

<h4>{{this.title}}</h4>
<a href="/offer/{{this._id}}">Check out the offer here</a>

{{#if this.image}}
<div>
  <img src="{{image}}" alt="{{title}}">
</div>
{{/if}}

<span>by {{creator.name}} on {{{ date creationDate "DD/MM/YYYY" }}} at {{{ date creationDate "HH:mm" }}}</span>

{{/each}}