<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/images/logo.png" alt="logo">
      </div>
      <a class="navbarstyle" href="/">Home</a>
      {{#if user}}
         <a href="/user/{{user._id}}">{{user.name}}'s Profile</a>
         <a href="/offer/create">Create an offer</a>
         <a href="/user/{{user._id}}/my-offers">Your offers</a>
          <form action="/authentication/sign-out" method="POST">
          <h4 class="signout">Sign Out</h4>
        </form>
        {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav>
    {{{body}}}
    </main>
    <script src="/scripts/script.js"></script>
  </body>
</html>
