<h1>Welcome to {{user.name}}'s profile</h1>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br>
<span>
   <img src="{{user.picture}}" alt="{{user.name}}" class="user-picture" />
</span>

<br>
<br>

<button><a href="/private/update">Update your profile</a></button>