
<section class="page"> 
<h1>Welcome to my profile</h1>
<span><strong>Hi, my name is</strong> {{user.name}}</span>
   {{#if user.image }}
   <img src="{{user.image}}" alt="{{user.name}}" class="user-image" />
   {{/if }}
   <span></span>
   {{#if user.description }}
   <p><strong>About me</strong> <br>{{user.description}}</p>
   {{/if }}
   {{#if user.experience }}
   <p><strong>My concert performance experience</strong><br> {{user.experience}}</p>
   {{/if }}
   {{#each user.skills }}
   <p><strong>How do I rate my musical skills <br></strong>{{this}}</p>
   {{/each }}
    {{#if user.url }}
   <p><strong>Have fun browsing my Website <br></strong>{{user.url}}</p>
   {{/if }}
</span>

<br>
<br>

<a href="/user/{{user._id}}/update">Update your profile</a>
</section>