<h1 class="Results1">You have searched for {{ q }}</h1>

<section class='search-results'>
 		{{#each artists}}
		 <div class='single-result'>
			 <div class='single-result-image'>
				 <img src="{{images.[2].url}}" alt="{{ this.name }}" />
				 </div>
			<div class='single-result-information'>
  			<h4>{{ this.name }}</h4>
	 		<a href="/music/albums/{{ this.id }}" class="button"><h4>View Albums</h4></a>
			 </div>
					 </div>
 		{{/each}}
</section>