<h1>Check out your offers</h1>

{{#each offers}}

<h1>{{offer.title}}</h1>

<h2>{{offer.typeof}}</h2>

<p>{{offer.description}}</p>

{{#if offer}}

<p>{{offer.image}}</p>

<p>{{offer.condition}}</p>

<p>{{offer.url}}</p>

{{/if}}

{{/each}}

<ul class="offer-list">
  {{#each offers}}
    {{> offeritem}}
  {{/each}}
</ul>